APPLICATION_ENV=development
APP_NAME=awag-svc

BROKER_URL=redis://localhost:6379
RESULT_BACKEND=redis://localhost:6379

REST_BASE_URL_AWAGDATA=http://localhost:5000/api/v1/awag/data
REST_BASE_URL_AWAGML=http://localhost:5000/api/v1/awag/ml
REST_BASE_URL_OBJECTSTORE=http://localhost:5000/api/v1/awag/objectstore

API_AUTH={}

AGENT_LOOKUP={"aaa1234-bb22-cc33-dd44-4321aaa":"example"}

