amqp
annotated-types
anyio
async-timeout
billiard
blinker
celery
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
distro
-e git+ssh://git@github.com/revisionist/python-utils.git@34213cfaeb2432f8a8ca0896f7d080503c45013a#egg=domestique
et-xmlfile
exceptiongroup
Flask
Flask-Cors
h11
httpcore
httpx
idna
itsdangerous
Jinja2
joblib
json5
kombu
MarkupSafe
numpy
openai
openpyxl
pandas
prompt-toolkit
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyLaTeX
redis
requests
scikit-learn
scipy
six
sniffio
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
uwsgi-chunked
vine
wcwidth
Werkzeug
XlsxWriter

